* {
  outline: 1px solid magenta;
}

body {
 height: 100%;
 margin: 0;
  background-color: white;
}

.bg {
    /* The image used */
    background-image: url("../bilder/");
    background-color: white    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* my flex container(s)*/
.flex-container {
  display: flex;
  
  flex-wrap: wrap;
   display: flex;
  align-items: stretch;

  font-family: sans-serif;
  color: white;
}
.flex-container > div {
  width: 100px;
  /*margin: 1px;*/
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  border: 1px dotted white;
}

.box01 {
    
    position: static;
    width: 1024px;
    height: 780px;
    background-image: url('../bilder/..') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 5px 13px;
    /*background-position: center;*/
     /*border: 1px solid hsl(88, 92%, 14%);*/
     visibility: visible; /* Fügen Sie diese Zeile hinzu */
     background-color: white;
  } 
  

  .box02_bildoben   {
      position: relative;
        width: 830px;
        height: 363px;
        top: 12px;
        left: 96px;
          /*border: 1px solid fuchsia;*/
          visibility: visible; /* Fügen Sie diese Zeile hinzu */
          background-image: url('../bilderoben/01.jpg') ;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
        
  }

  .box03_bildunten   {
    position: relative;
      width: 830px;
      height: 354px;
      top: 41px;
      left: 95px;
      /*border: 1px solid fuchsia;*/
      visibility: visible; /* Fügen Sie diese Zeile hinzu */
      background-image: url('../bilderunten/001.jpg') ;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;

 
}

.button_01 {
  position: relative;
  width: 75px;
  height: 150px;
  top: -210px;
  left: 960px;
}